*{
  margin: 0;
  padding: 0;
  border: 0;
}

.container{
  height: 400px;
  width: 720px;
  border: 1px solid gray;
  text-align: center;
  line-height: 50px;
}

.text{
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;

}